=link_to group_messages_path(group.id) do
  %ul.lists
    %li.lists__group= group.name
    -if group.messages.last.nil?
      %li.lists__message まだメッセージはありません(°▽°)
    -else
      %li.lists__message=group.messages.last.body
