.chat-group-form__field--left
  =f.label :チャットメンバーを追加, class:'chat-group-form__label'
.chat-group-form__field--right
  .chat-group-form__search.clearfix
    =f.collection_check_boxes :user_ids, User.all, :id, :name do |b|
      -b.label{b.check_box + b.text}
  #user-search-result
