.chat-group-form
  %h1 チャットグループ編集
  #edit_chat_group_22.edit_chat_group
  =form_for @group do |f|
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        =f.label :グループ名, class:'chat-group-form__label'
      .chat-group-form__field--right
        = f.text_field :name, placeholder: "グループ名を入力して下さい",value: current_user.groups.first.name,class: 'chat-group-form__input', id: 'chat_group_name'
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        =f.label :チャットメンバーを追加,class: 'chat-group-form__label'
      .chat-group-form__field--right
        .chat-group-form__search.clearfix
          =f.collection_check_boxes :user_ids, User.all, :id, :name do |b|
            -b.label{b.check_box + b.text}
        #user-search-result
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        %label.chat-group-form__label{:for => "chat_group_チャットメンバー"} チャットメンバー
      .chat-group-form__field--right
        -@current_members = current_user.groups.first.users
        =render partial: 'current_member', collection: @current_members
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        %input.chat-group-form__action-btn{"data-disable-with" => "Save", :name => "commit", :type => "submit", :value => "Save"}/
