.chat-group-form
  %h1 チャットグループ編集
  #edit_chat_group_22.edit_chat_group
  =form_for @group do |f|
    .chat-group-form__field.clearfix
      =render partial: 'group-left', locals:{f: f}
      .chat-group-form__field--right
        = f.text_field :name, placeholder: "グループ名を入力して下さい",value: current_user.groups.first.name,class: 'chat-group-form__input', id: 'chat_group_name'
    .chat-group-form__field.clearfix
      =render partial: 'member-field',locals:{f: f}
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        %label.chat-group-form__label{:for => "chat_group_チャットメンバー"} チャットメンバー
      .chat-group-form__field--right
        -@current_members = current_user.groups.first.users
        =render partial: 'current_member', collection: @current_members
    =render partial: 'send-button'
