.wrapper
  .chat-group-form
    %h1 新規チャットグループ
    #new_chat_group.new_chat_group
    = form_for @group do |f|
      .chat-group-form__field.clearfix
        =render partial: 'group-left', locals:{f: f}
        .chat-group-form__field--right
          = f.text_field :name, placeholder: "グループ名を入力して下さい", class: 'chat-group-form__input', id: 'chat_group_name'
      .chat-group-form__field.clearfix
        =render partial: 'member-field', locals:{f: f}
      .chat-group-form__field.clearfix
        .chat-group-form__field--left
          =f.label :チャットメンバー, for: "chat_group_チャットメンバー", class: 'chat-group-form__label'
        .chat-group-form__field--right
          #chat-group-users
            #chat-group-user-22.chat-group-user.clearfix
              %input{:name => "chat_group[user_ids][]", :type => "hidden", :value => "22"}/
              %p.chat-group-user__name= current_user.name
      =render partial: 'send-button'

