%header

  %ul.header-right
    %li.header-right__current-group= current_user.name
    %span.header-right__head member:
    -@current_groups = current_user.groups.first.users
    =render partial: 'current_group', collection: @current_groups
    =link_to edit_group_path(current_user.groups.first) do
      %ul.header-right__editbox
        %li.header-right__editbox__edit Edit
  %ul.header-user
    %li.header-user__name= current_user.name
    = link_to new_group_path do
      %i.fa.fa-pencil-square-o
    = link_to edit_user_registration_path do
      %i.fa.fa-cog
.right-content
  %ul.name-date
    %li.name-date__name sample date
    %li.name-date__date 2017/2/11 14:50:30
  %ul.message
    %li.message__text hello
  %ul.name-date
    %li.name-date__name example date
    %li.name-date__date 2017/2/11 15:00:00
  %ul.message
    %li.message__text こんにちわ
.left-content
  %ul.lists
    -@left_contents = current_user.groups
    =render partial: 'left_content', collection: @left_contents
%footer
  .text-box
    %textarea{:cols => "30",:placeholder => "type a message",:rows =>"16"}
    %i.fa.fa-file-image-o.fa-2x
  .send-box
    %p.button Send
