header {
  position: fixed;
  width: 100%;
  .header-top{
  height: 100%;
  margin: 0;
  padding: 0;
    &__list {
    width: 100%;
    height: 30px;
    background-color: $light-blue;
    text-align: center;
    color: $white;
    }
  }
  .header-right{
  height: 100%;
  width: calc(100vw - 300px);
  float: right;
  position: relative;
  background-color: $white;
  border-bottom: thin solid #eeeeee;
    &__current-group {
     width: 100%;
     height: 100%;
     float: left;
     text-align: left;
     padding: 35px 0 15px 40px;
     font-size: 20px;
     color: $black;
    }
    &__member {
     width: 100%;
     height: 100%;
     padding: 0 0 8px 40px;
     background-color: $white;
     font-size: 12px;
     float: left;
     color: $light-gray;
    }
    &__editbox {
     text-align: center;
     padding: 9px 20px 9px 20px;
     font-size: 13px;
     color: $light-blue;
     background-color: $white;
     border: thin solid $light-blue;
     position: absolute;
     top: 28px;
     left: 0 auto;
     right: 40px;
     bottom: 0 auto;
     }
  }
}


.header-user{
  height: 106px;
  width: 300px;
  margin: 0;
  padding: 0;
  float: left;
  background-color: $navy-black;
  &__name{
  color: $white;
  font-size: 16px;
  font-weight: bold;
  padding: 35px 0 0 20px;
  float: left;
  }
  i.fa.fa-cog{
    color: $white;
    float: right;
    padding: 40px 20px 0 0;
  }
  i.fa.fa-pencil-square-o{
    color: $white;
    float: right;
    padding: 40px 10px 0 0;
  }
}
.header-user{
  height: 106px;
  width: 300px;
  margin: 0;
  padding: 0;
  float: left;
  background-color: $navy-black;
  &__name{
  color: $white;
  font-size: 16px;
  font-weight: bold;
  padding: 35px 0 0 20px;
  float: left;
  }
  i.fa.fa-cog{
    color: $white;
    float: right;
    padding: 40px 20px 0 0;
  }
  i.fa.fa-pencil-square-o{
    color: $white;
    float: right;
    padding: 40px 10px 0 0;
  }
}

