header {
  position: fixed;
  width: 100%;
  .header-right{
  height: 100%;
  padding-top: 30px;
  width: calc(100vw - 300px);
  float: right;
  position: relative;
  background-color: $white;
  border-bottom: thin solid #eeeeee;
    &__current-group {
     width: 100%;
     height: 100%;
     float: left;
     text-align: left;
     padding: 35px 0 15px 40px;
     font-size: 20px;
     color: $black;
    }
    &__head{
      padding: 0 0 8px 40px;
      font-size: 12px;
      color: $light-gray;
    }
    &__member {
     width: 100%;
     height: 100%;
     padding: 0 0 8px 5px;
     background-color: $white;
     font-size: 12px;
     color: $light-gray;
     display: inline;
     margin-right: 5px;
    }
    &__editbox {
     padding: 9px 20px 9px 20px;
     font-size: 13px;
     background-color: $white;
     border: thin solid $light-blue;
     position: absolute;
     top: 58px;
     left: 0 auto;
     right: 40px;
     bottom: 0 auto;
     color: $light-blue;
     display: block;
    }
  }
}


.header-user{
  height: 106px;
  width: 300px;
  margin: 0;
  padding-top: 30px;
  float: left;
  background-color: $navy-black;
  &__name{
  color: $white;
  font-size: 16px;
  font-weight: bold;
  padding: 35px 0 0 20px;
  float: left;
  }
  i.fa.fa-cog{
    color: $white;
    float: right;
    padding: 40px 20px 0 0;
  }
  i.fa.fa-pencil-square-o{
    color: $white;
    float: right;
    padding: 40px 10px 0 0;
  }
}

