@import "./reset";
@import "font-awesome";

body{
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.wrapper{
  height: 100%;
  min-height: 890px;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  .header-top{
  height: 100%;
  margin: 0;
  padding: 0;
    &__list {
    width: 100%;
    height: 30px;
    background-color: #38AEF0;
    text-align: center;
    color: white;
    }
  }
  .header-right{
  height: 100%;
  width: calc(100vw - 300px);
  float: right;
  position: relative;
  background-color: white;
  border-bottom: thin solid #eeeeee;
    &__current-group {
     width: 100%;
     height: 100%;
     float: left;
     text-align: left;
     padding: 35px 0 15px 40px;
     font-size: 20px;
     color: #333333;
    }
    &__member {
     width: 100%;
     height: 100%;
     padding: 0 0 8px 40px;
     background-color: white;
     font-size: 12px;
     float: left;
     color: #999999;
    }
    &__editbox {
     text-align: center;
     padding: 9px 20px 9px 20px;
     font-size: 13px;
     color: #38AEF0;
     background-color: white;
     border: thin solid #38AEF0;
     position: absolute;
     top: 28px;
     left: 0 auto;
     right: 40px;
     bottom: 0 auto;
     }
  }
}


.header-user{
  height: 106px;
  width: 300px;
  margin: 0;
  padding: 0;
  float: left;
  background-color: #253141;
  &__name{
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 35px 0 0 20px;
  float: left;
  }
  i.fa.fa-cog{
    color: white;
    float: right;
    padding: 40px 20px 0 0;
  }
  i.fa.fa-pencil-square-o{
    color: white;
    float: right;
    padding: 40px 10px 0 0;
  }
}


footer{
  width: calc(100vw - 300px);
  height: 90px;
  background-color: #AAAAAA;
  position: relative;
  position: fixed;
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
  .text-box{
    height: 50px;
    width: auto;
    background-color: white;
    position: fixed;
    position: absolute;
    top: auto;
    right: 155px;
    bottom: 20px;
    left: 40px;
  }
    textarea{
      background-color: white;
      width: 90%;
      height: 37px;
      color: #434A54;
      padding-left: 10px;
      padding-top: 13px;
      border: none;
    }
    i.fa.fa-file-image-o.fa-2x{
      float: right;
      margin-top: 10px;
      margin-right: 10px;
    }

  .send-box{
    height: 50px;
    width: 100px;
    background-color: #38AEF0;
    position: absolute;
    top: 20px;
    right: 40px;
    bottom: 20px;
    float: right;
    p.button{
      color: white;
      text-align: center;
      vertical-align: middle;
      margin-bottom: 11px;
      margin-top: 11px;
    }
  }
}



.right-content{
  width: calc(100vw - 300px);
  min-height: calc(100vw - 226px);
  height: auto !important;
  background-color: #F0F8FF;
  float: right;
  margin-top: 137px;
  .name-date{
    margin-top: 45px;
    width: 100%;
    &__name{
      font-size: 16px;
      font-weight: bold;
      color: #434A54;
      margin-left: 40px;
      float: left;
    }
    &__date{
      margin-left:10px;
      padding-top: 5px;
      float: left;
      color: #999999;
      font-size: 12px;
    }
  }
  .message{
    height: 100%;
    width: 100%;
    float: left;
    &__text{
      margin-top: 10px;
      margin-bottom: 40px;
      font-size: 14px;
      color: #434A54;
      margin-left: 40px;
    }
  }
}

.left-content{
  width: 300px;
  min-height: 890px;
  height: auto !important;
  float: left;
  background-color: #2f3e51;
  position: fixed;
  top: 136px;
  .lists{
    margin: 0 20px 40px 20px;
    color: #FFFFFF;
    &__group{
      margin: 20px 0 5px 0;
      font-size: 15px;
    }
    &__message{
      margin-bottom: 20px;
      font-size: 11px;
    }
  }
}
